<div class="bg-gray-200 bg-opacity-75 dark:bg-gray-700 dark:bg-opacity-75 lg:w-4/5 sm:w-full shadow-2xl rounded mb-4 p-7">
    <div class="text-2xl flex justify-between">
        <div class="max-sm:text-xl max-sm:font-semibold">
            <a href="{{path('app_micro_post_show',{post: post.id})}}">
            {{ post.title }}</a>
        </div>
        <div>
        {% if app.user != null %}
            <div class="dropdown">
            <label tabindex="0" class="m-1 w-10 rounded hover:bg-gray-800 hover:bg-opacity-50 flex items-center max-sm:hover:bg-transparent">
               <span class="material-symbols-outlined cursor-pointer text-4xl max-sm:text-2xl max-sm:font-semibold"> more_horiz </span>
            </label>

            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-gray-300 bg-opacity-75 dark:bg-gray-700 dark:bg-opacity-75 text-sm rounded-box w-40 max-sm:w-28 max-sm:text-sm max-sm:font-medium">
                <!-- The button to open modal -->
                {% if app.user.isAdmin == 1 or  is_granted('ROLE_EDIT') == false %}
                <li class="hover:bg-gray-700 hover:bg-opacity-75">
                    <label for="my-modal" class="text-red-500">Xóa Bài</label>
                </li>
                {% endif %}
                <li class="hover:bg-gray-700 hover:bg-opacity-75">
                    <a href="{{path('app_micro_post_edit',{post: post.id})}}" class="mr-2">Chỉnh sửa</a>
                </li>
            </ul>

            </div>
            {% endif %}
                <!-- Put this part before </body> tag -->
                <input type="checkbox" id="my-modal" class="modal-toggle" />
                <div class="modal">
                <div class="modal-box bg-gray-200 dark:bg-gray-700 rounded">
                    <h3 class="font-bold text-lg">Thông Báo</h3>
                    <p class="py-4">Xác Nhận Xóa Bài</p>
                    <div class="modal-action flex justify-between">
                    <label for="my-modal" class="btn bg-red-500"><a class="text-yellow-100" href="{{ path('app_micro_post_delete',{post: post.id}) }}">Xóa</a></label>
                    <label for="my-modal" class="btn">Hủy Bỏ</label>
                    </div>
                </div>
                </div>

        </div>
    </div>
    <div class="text-xl dark:text-gray-200 border p-2 border-gray-600 rounded-md max-sm:text-sm max-sm:font-normal">
        {{post.text | raw}}
    </div>
    <div class="text-gray-500 dark:text-gray-200">
        {{post.created | date("M j, Y")}}
    </div>
    <div>
    {% if post.likedBy.contains(app.user) %}
        <a href="{{ path('app_unlike',{id: post.id}) }}" class="flex items-center">
            <span class="material-symbols-outlined text-red-500"> favorite </span>
            <span class="px-2 rounded-md bg-gray-200 dark:bg-gray-700">{{ post.likedBy.count }}</span>
        </a>
        {% else %}
        <a href="{{ path('app_like',{id: post.id})}}" class="flex items-center">
            <span class="material-symbols-outlined text-gray-500"> favorite </span>
            <span class="px-2 rounded-md bg-gray-200 dark:bg-gray-700">{{ post.likedBy.count }}</span>
        </a>
    {% endif %}
    </div>
    <div class="text-sm text-gray-500 dark:text-gray-200">
        <a href="{{path('app_profile',{ id: post.author.id })}}">{{post.author.email}}</a>
    </div>
    <div class="flex">
        <a href="{{path('app_micro_post_comment',{post: post.id})}}" class="flex items-center">
            <span class="material-symbols-outlined text-gray-500 mr-2 dark:text-gray-200"> comment </span>
            comment
            <span class="ml-2 px-2 rounded-md bg-gray-200 dark:bg-gray-700">{{post.comments.count}}</span></a>
    </div>
</div>