{% extends 'base.html.twig' %}

{% block title %}Bài Viết - {{post.title}}{% endblock %}

{% block bread %}
post
{% endblock %}


{% block body%}
    <div class="grid justify-items-center">
        <div class="bg-gray-200 bg-opacity-75 dark:bg-gray-700 dark:bg-opacity-75 p-5 w-auto flex items-center mb-4 rounded">
        <div>
            {{ include('shared/_avatar.html.twig',{profile: post.author.userProfile, size: 16})}}
        </div>
        <div class="ml-4">
            <div class="text-xl"> {{ post.author.userProfile.name ?? post.author.email}} </div>
            <div class="text-sm text-gray-500 dark:text-gray-400">
                <a href="{{ path('app_profile', {id: post.author.id}) }}">{{ post.author.email }}</a>
            </div>
        </div>
    </div>
    
    {{ include('micro_Post/_post.html.twig', { post:post }) }}


    <div class="grid justify-items-start w-4/5 mt-4">
        {% for comment in post.comments %}
            <div class="bg-gray-200 bg-opacity-75 dark:bg-gray-700 dark:bg-opacity-75 w-4/5 shadow-2xl rounded p-3 mb-4">
                <div>
                    <div class="flex items-center">
                    <div class="mr-2">
                        {{ include('shared/_avatar.html.twig',{profile: comment.author.userProfile, size: 8})}}
                    </div>
                    <div>
                        <div class="font-medium text-gray-800 dark:text-gray-300">
                            <a href="{{ path('app_profile', {id: post.author.id}) }}"> {{comment.author.userProfile.name ?? comment.author.email}} </a>
                        </div>
                        <div class="font-light text-gray-500 dark:text-gray-500">{{comment.created | date("M j, Y")}}</div>
                    </div>
                </div>
                <div class="flex">
                    <div class="border border-gray-300 dark:border-gray-600 ml-4 mr-6 pb-12"></div>
                    <div><P class="break-all dark:text-gray-300">{{comment.text}}</P></div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}